.calculatrice {
    height: 450px;
    width: 400px;
    background-color: #2177c7;
    border: 2px solid #c2d214;
    border-collapse: collapse;
    margin: 35px;
    padding: 0 10px 10px 10px;    
}

.calculatrice td{
    height:16%;
    padding:2%;
}

.calc_td_result{
    width: 120%;
    border: none !important;
    padding: 0 0 2% 0 !important;
}

.calcul_result{
    width: 120px;
    height: 100%;
    text-align:right;
    appearance: none;
    color: white;
    background: rgb(213, 10, 10);
    font-size: 40px;
    border: none !important;
}

.calc_td_btn{
    width:25%;
    height:100%;
}

.calc_calculs{
    width:100%;
    height:100%;
    font-size:20px;
    background-image:linear-gradient(white, #CCCCCC);
    appearance: none;
    border: 0.5px solid #a0a0a0;
    border-radius: 5%;
    color: #2e86c0;
}

.calc_calculs:hover{
    width:90%;
    height:100%;
    font-size:20px;
    background: #bbbbbb;
    appearance: none;
    border: 1.8px dotted grey;
    color: #9b0628;
}

.calc_btn{
    width:100%;
    height:100%;
    font-size:20px;
    background-image:linear-gradient(white, #CCCCCC);
    appearance: none;
    border: 0.5px solid #a0a0a0;
    border-radius: 5%;
}

.calc_btn:hover{
    width:100%;
    height:100%;
    font-size:20px;
    background: #bbbbbb;
    appearance: none;
    border: 1.8px dotted grey;
    border-radius: 5%;
}

.calc_btn_equal{
    width: 100%;
    height: 100%;
    font-size: 20px;
    appearance: none;
    border: 0.5px solid #a0a0a0;
    border-radius: 3%;
    color: white;
    background: #0f5b8e;
}

.calc_btn_equal:hover{
    width: 100%;
    height: 100%;
    font-size: 20px;
    appearance: none;
    border: 1.8px dotted grey;
    border-radius: 3%;
    color: rgb(164, 158, 158);
    background: #186396;
}

.calc_btn_clear{
    width: 100%;
    height: 100%;
    font-size: 20px;
    appearance: none;
    border: 0.5px solid #a0a0a0;
    border-radius: 5%;
    color: white;
    background: #f0595f;
}

.calc_btn_clear:hover{
    width: 100%;
    height: 100%;
    font-size: 20px;
    appearance: none;
    border: 1.8px dotted grey;
    border-radius: 5%;
    color: rgb(85, 34, 34);
    background: #b72967;
}